#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px
}

thead {
  background: rgb(255, 240, 152);
  color: #000;
}

th {
  padding: 5px;
}

tbody {
  background: #fff;
  color: #000
}

.manage {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.search-field {
  width: 100%;
  padding: 0;
  border: 0!important;
  background: #fff;
  height: 36px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #000;
}
